* {
  margin: 0;
  padding: 0;
}

body {
  color: #3b1c1b;
  background-color: #fbe7da;
  max-width: 1500px;
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

select,
input,
a,
button,
option {
  font-family: inherit;
}


@media (min-width: 1500px) {
  body {
    box-shadow: 20px 20px 20px #3b1c1b6e, -20px 20px 20px #3b1c1b6e;
  }
}