.sign {
  direction: rtl;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.sign h3 {
  font-size: 24px;
}

.sign a {
  color: #fbe7da;
  background-color: #f07f42;
  margin-top: 70px;
  padding: 30px 60px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.295),
    inset -5px -5px 5px rgba(0, 0, 0, 0.295);
  transition: all linear 0.2s;
  display: flex;
  align-items: center;
}

.sign a:hover {
  background-color: #d94b0e;
}

.sign a svg {
  font-size: 40px;
  margin-left: 10px;
}

@media (max-width: 720px) {
  .sign h3 {
    font-size: 16px;
  }
  .sign a {
    font-size: 20px;
    padding: 20px 40px;
  }
  .sign a svg {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .sign h3 {
    width: 80%;
    line-height: 1.5;
    margin: auto;
  }
  .sign a {
    margin-top: 20px;
  }
  .sign {
    padding-top: 0;
  }
}

@media (max-width: 320px) {
  .sign h3 {
    font-size: 14px;
  }
  .sign a {
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.295),
      inset -3px -3px 3px rgba(0, 0, 0, 0.295);
  }
  .sign a svg {
    font-size: 16px;
  }
}
